.auctionsHeading{
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 159px;
    padding-top: 46px;

}

.coolAuctions{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    font-family: Inter;
    padding-bottom: 39px;
}